version: '3.7'

services:
  postgres:
    container_name: postgres
    image: docker.io/library/postgres:14
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    networks:
      - car-rental-network

  postgres-reservation:
    container_name: postgres-reservation
    image: docker.io/library/postgres:14
    environment:
      POSTGRES_DB: reservation
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    networks:
      - car-rental-network

  postgres-rental:
    container_name: postgres-rental
    image: docker.io/library/postgres:14
    environment:
      POSTGRES_DB: rental
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    networks:
      - car-rental-network

  mysql-inventory:
    container_name: mysql-inventory
    image: docker.io/library/mysql:8.0
    environment:
      MYSQL_DATABASE: inventory
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
      MYSQL_ROOT_PASSWORD: rootpass
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - car-rental-network

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:26.4.0
    user: "${UID}"
    volumes:
      - "./car-rental-realm.json:/opt/keycloak/data/import/car-rental-realm.json:Z"
    command:
      - start-dev
      - --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KC_HTTP_ENABLED: "true"
    ports:
      - "8080:8080"
    restart: always
    depends_on:
      - postgres
    networks:
      - car-rental-network

  users-service:
    build:
      context: ./users-service
      dockerfile: src/main/docker/Dockerfile.jvm
    environment:
      QUARKUS_PROFILE: prod
      QUARKUS_OIDC_AUTH_PUBLIC_SERVER_URL: http://keycloak:8080/realms/car-rental
      QUARKUS_OIDC_CLIENT_ID: users-service
      QUARKUS_OIDC_CONNECTION_RETRY_COUNT: 10
      QUARKUS_OIDC_CONNECTION_TIMEOUT: 30000
      GLOBAL_QUARKUS_MANAGEMENT_PORT: 21054
      REST_CLIENT_RESERVATION_SERVICE_URL: http://reservation-service:8080
    ports:
      - "8084:8080"
    healthcheck:
      test: ["CMD", "curl", "http://localhost:21054/q/health/ready"]
      interval: 15s
      retries: 5
      timeout: 2s
      start_period: 10s
    restart: unless-stopped
    depends_on:
      mysql-inventory:
        condition: service_started
    networks:
      - car-rental-network

  inventory-service:
    build:
      context: ./inventory-service
      dockerfile: src/main/docker/Dockerfile.jvm
    environment:
      QUARKUS_PROFILE: prod
      QUARKUS_HTTP_PORT: 8080
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:mysql://mysql-inventory:3306/inventory
      QUARKUS_DATASOURCE_USERNAME: user
      QUARKUS_DATASOURCE_PASSWORD: pass
      QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION: drop-and-create
      QUARKUS_DATASOURCE_REACTIVE_RECONNECT_ATTEMPTS: 10
      QUARKUS_DATASOURCE_REACTIVE_RECONNECT_INTERVAL: 5s
      GLOBAL_QUARKUS_MANAGEMENT_PORT: 21054
    ports:
      - "8083:8080"
      - "9000:9000"
    healthcheck:
      test: [ "CMD", "curl", "http://localhost:21054/q/health/ready" ]
      interval: 15s
      retries: 5
      timeout: 2s
      start_period: 10s
    depends_on:
      mysql-inventory:
        condition: service_started
    restart: unless-stopped
    networks:
      - car-rental-network

  reservation-service:
    build:
      context: ./reservation-service
      dockerfile: src/main/docker/Dockerfile.jvm
    environment:
      QUARKUS_PROFILE: prod
      QUARKUS_HTTP_PORT: 8080
      QUARKUS_OIDC_AUTH_PUBLIC_SERVER_URL: http://keycloak:8080/realms/car-rental
      QUARKUS_OIDC_CLIENT_ID: reservation-service
      QUARKUS_DATASOURCE_URL: postgresql://postgres-reservation:5432/reservation
      QUARKUS_DATASOURCE_USERNAME: user
      QUARKUS_DATASOURCE_PASSWORD: pass
      QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION: drop-and-create
      QUARKUS_SMALLRYE_GRAPHQL_CLIENT_INVENTORY_URL: http://inventory-service:8080/graphql
      QUARKUS_OIDC_CONNECTION_RETRY_COUNT: 10
      QUARKUS_OIDC_CONNECTION_TIMEOUT: 30000
      QUARKUS_DATASOURCE_REACTIVE_RECONNECT_ATTEMPTS: 10
      QUARKUS_DATASOURCE_REACTIVE_RECONNECT_INTERVAL: 5s
      GLOBAL_QUARKUS_MANAGEMENT_PORT: 21054
    ports:
      - "8081:8080"
    healthcheck:
      test: [ "CMD", "curl", "http://localhost:21054/q/health/ready" ]
      interval: 15s
      retries: 5
      timeout: 2s
      start_period: 10s
    depends_on:
      postgres-reservation:
        condition: service_started
    restart: unless-stopped
    networks:
      - car-rental-network

  rental-service:
    build:
      context: ./rental-service
      dockerfile: src/main/docker/Dockerfile.jvm
    environment:
      QUARKUS_HTTP_PORT: 8080
      GLOBAL_QUARKUS_MANAGEMENT_PORT: 21054
      QUARKUS_DATASOURCE_URL: jdbc:postgresql://postgres-rental:5432/rental
      QUARKUS_DATASOURCE_USERNAME: user
      QUARKUS_DATASOURCE_PASSWORD: pass
    ports:
      - "8082:8080"
    healthcheck:
      test: [ "CMD", "curl", "http://localhost:21054/q/health/ready" ]
      interval: 15s
      retries: 5
      timeout: 2s
      start_period: 10s
    restart: unless-stopped
    networks:
      - car-rental-network

  controller-1:
    image: apache/kafka:4.1.1
    container_name: controller-1
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: controller
      KAFKA_LISTENERS: CONTROLLER://:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    networks:
      - car-rental-network

  controller-2:
    image: apache/kafka:4.1.1
    container_name: controller-2
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: controller
      KAFKA_LISTENERS: CONTROLLER://:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    networks:
      - car-rental-network

  controller-3:
    image: apache/kafka:4.1.1
    container_name: controller-3
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_PROCESS_ROLES: controller
      KAFKA_LISTENERS: CONTROLLER://:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    networks:
      - car-rental-network

  broker-1:
    image: apache/kafka:4.1.1
    container_name: broker-1
    environment:
      KAFKA_NODE_ID: 4
      KAFKA_PROCESS_ROLES: broker
      KAFKA_LISTENERS: 'PLAINTEXT://:19092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://broker-1:19092'
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    depends_on:
      - controller-1
      - controller-2
      - controller-3
    networks:
      - car-rental-network

  broker-2:
    image: apache/kafka:4.1.1
    container_name: broker-2
    environment:
      KAFKA_NODE_ID: 5
      KAFKA_PROCESS_ROLES: broker
      KAFKA_LISTENERS: 'PLAINTEXT://:19092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://broker-2:19092'
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    depends_on:
      - controller-1
      - controller-2
      - controller-3
    networks:
      - car-rental-network

  broker-3:
    image: apache/kafka:4.1.1
    container_name: broker-3
    environment:
      KAFKA_NODE_ID: 6
      KAFKA_PROCESS_ROLES: broker
      KAFKA_LISTENERS: 'PLAINTEXT://:19092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://broker-3:19092'
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    depends_on:
      - controller-1
      - controller-2
      - controller-3
    networks:
      - car-rental-network

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:v0.7.2
    hostname: kafkaui
    environment:
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=broker-1:19092,broker-2:19092,broker-3:19092
    ports:
      - "9082:8080"
    networks:
      - car-rental-network

networks:
  car-rental-network:
    driver: bridge
